{% load static i18n %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <meta name="robots" content="" />    
    <meta name="description" content="" />
	<link rel="icon" href="images/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.png" />

    
	<title>{% block title %}{% trans "Ardıç Yaşam" %}{% endblock title %}</title>
    {% block meta %}{% endblock meta %}
    <link href="{% static 'web/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'web/plugins/revolution/css/settings.css' %}" rel="stylesheet" type="text/css"><!-- REVOLUTION SETTINGS STYLES -->
    <link href="{% static 'web/plugins/revolution/css/layers.css' %}" rel="stylesheet" type="text/css"><!-- REVOLUTION LAYERS STYLES -->
    <link href="{% static 'web/plugins/revolution/css/navigation.css' %}" rel="stylesheet" type="text/css"><!-- REVOLUTION NAVIGATION STYLES -->
    <link href="{% static 'web/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'web/css/responsive.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <!--Color Switcher Mockup-->
    <link href="{% static 'web/css/color-switcher-design.css' %}" rel="stylesheet">

    <!--Color Themes-->
    <link id="theme-color-file" href="{% static 'web/css/color-themes/default-theme.css' %}" rel="stylesheet">

    <!--Favicon-->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">


	{% block extracss %}{% endblock extracss %}
</head>
<body>
{% include 'web/includes/header.html' %}
{% block content %}{% endblock content %}

{% include 'web/includes/footer.html' %}

<div id="circularMenu" class="circular-menu">

    <a class="floating-btn" onclick="document.getElementById('circularMenu').classList.toggle('active');">
      <i class="fa fa-commenting-o fa-2x" style="color:#fff;font-size: x-large;" ></i>
    </a>
  
    <menu class="items-wrapper">
      <a href="#" class="menu-item" style="background-color:#67d473"><img style="width:24px;height:24px;" src="{% static 'web/images/wpp.svg' %}"></a>
      <a href="#" class="menu-item" style="background-color:#59a9f3"><img style="width:24px;height:24px;"src="{% static 'web/images/face.svg' %}"></a>
      <a href="#" class="menu-item" style="background-color:#915bbc"><img style="width:24px;height:24px;"src="{% static 'web/images/viber.svg' %}"></a>
    </menu>
  
  </div>
  
<script src="{% static  'web/js/jquery.js' %}"></script>
<!--Revolution Slider-->
<script src="{% static  'web/plugins/revolution/js/jquery.themepunch.revolution.min.js' %}"></script>
<script src="{% static  'web/plugins/revolution/js/jquery.themepunch.tools.min.js' %}"></script>
<script src="{% static  'web/plugins/revolution/js/extensions/revolution.extension.actions.min.js' %}"></script>
<script src="{% static  'web/plugins/revolution/js/extensions/revolution.extension.carousel.min.js' %}"></script>
<script src="{% static  'web/plugins/revolution/js/extensions/revolution.extension.kenburn.min.js' %}"></script>
<script src="{% static  'web/plugins/revolution/js/extensions/revolution.extension.layeranimation.min.js' %}"></script>
<script src="{% static  'web/plugins/revolution/js/extensions/revolution.extension.migration.min.js' %}"></script>
<script src="{% static  'web/plugins/revolution/js/extensions/revolution.extension.navigation.min.js' %}"></script>
<script src="{% static  'web/plugins/revolution/js/extensions/revolution.extension.parallax.min.js' %}"></script>
<script src="{% static  'web/plugins/revolution/js/extensions/revolution.extension.slideanims.min.js' %}"></script>
<script src="{% static  'web/plugins/revolution/js/extensions/revolution.extension.video.min.js' %}"></script>

<script src="{% static  'web/js/bootstrap.min.js' %}"></script>
<script src="{% static  'web/js/jquery.fancybox.pack.js' %}"></script>
<script src="{% static  'web/js/jquery.fancybox-media.js' %}"></script>
<script src="{% static  'web/js/owl.js' %}"></script>
<script src="{% static  'web/js/appear.js' %}"></script>
<script src="{% static  'web/js/wow.js' %}"></script>
<script src="{% static  'web/js/mixitup.js' %}"></script>
<script src="{% static  'web/js/main-slider-script.js' %}"></script>
<script src="{% static  'web/js/script.js' %}"></script>

<!--Color Switcher-->
<script src="{% static  'web/js/color-settings.js' %}"></script>

{% block extrajs %}{% endblock extrajs %}
</body>
</html>
