{% extends "web/base.html" %}
{% load static i18n %}
{% block title %}{{about.titlesite}}{% endblock title %}
{% block meta %}
<meta name="description" content="{{about.description}}">
<meta name="keywords" content="{% for cer in about.keywords.all %}{{cer.name}},{% endfor %}">
{% endblock meta %}
{% block extracss %}{% endblock extracss %}
{% block content %}

<section class="page-title" style="background-image:url('{{STATIC_URL}}web/images/background/8.jpg');">
    <div class="auto-container">
        <div class="inner-box">
            <h1>Hakkımızda</h1>
            <ul class="bread-crumb">
                <li><a href="{% url 'web:welcome_view' %}">Ana Sayfa</a></li>
                <li>Hakkımızda</li>
            </ul>
        </div>
    </div>
</section>


  <!--Experiance Section-->
  <section class="experiance-section" style="background-image:url('{{STATIC_URL}}web/images/background/1.png');">
    <div class="auto-container">
        <div class="inner-content">
            <!--Sec Title-->
             <div class="sec-title centered">
                <div class="icon-box"></div>
                 <div class="title">Hakkımızda</div>
                 <h2>{{about.title}}</h2>
             </div>
             <div class="text-content">
                <div class="text">{{about.body|safe}}</div>
             </div>
         </div>
     </div>
 </section>
 <!--End Experiance Section-->
 

 

 
 <section class="call-to-action-section" style="background-image:url('{{STATIC_URL}}web/images/background/2.jpg');">
    <div class="auto-container">
        <h3>Sağlıklı yaşam</h3>
         <h2>Sağlıklı görünüş içeride başlar</h2>
         <a href="{% url 'web:per_view' %}" class="theme-btn btn-style-one">Tüm Ürünler</a>
     </div>
 </section>
 


  
  <!--Farmer Section-->
  <section class="farmer-section">
    <div class="auto-container">
        <span class="right-image"><img src="{% static  'web/images/resource/product-middle-image.jpg' %}" alt="" /></span>
         <span class="left-image"><img src="{% static  'web/images/resource/farmer-left-img.jpg' %}" alt="" /></span>
        <!--Sec Title-->
         <div class="sec-title centered">
            <div class="icon-box"></div>
             <div class="title"> Mükemmel Ekibimiz</div>
             <h2>Ekibimiz</h2>
             <div class="text">As more and more people are turning to organic lifestyles & trying improve their health As more and more people </div>
         </div>
         <div class="row clearfix">
            
             <!--Team Member-->
             <div class="team-member col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><img src="{% static  'web/images/resource/image6.jpg' %}" alt=""></figure>
                         <ul class="social-icon-two">
                            <li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
                             <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                             <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                             <li><a href="#"><span class="fa fa-instagram"></span></a></li>
                         </ul>
                     </div>
                     <div class="lower-content">
                        <h4><a href="team-single.html">Sündüs Burcu Nalbantoğlu</a></h4>
                         <div class="designation"> Ardıç Yaşam Ailesi’nin bostan işleri sorumlusu ve halkla ilişkileridir. </div>
                         <div class="text">  2016 yılında isim hakkını aldığı ve aslen Ahşap Tasarım markası olan Ardıç Yaşam’ı gıda üretim işine çevirme fikrinin zeminini ailesi ile birlikte kurmuştur.
                       </div>
                     </div>
                 </div>
             </div>
             
             <!--Team Member-->
             <div class="team-member col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><img src="{% static  'web/images/resource/image3.jpg' %}" alt=""></figure>
                         <ul class="social-icon-two">
                            <li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
                             <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                             <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                             <li><a href="#"><span class="fa fa-instagram"></span></a></li>
                         </ul>
                     </div>
                     <div class="lower-content">
                        <h4><a href="team-single.html">Barış Nalbantoğlu</a></h4>
                         <div class="designation">Ardıç Yaşam Ailesinin dışarıdan transfer aldığı üyesi, her şeyidir.</div>
                         <div class="text">Üretimin her ağındadır. Özellikle kargolama alanımızda sağlam paketleme deyince artık akla o gelir. :)
                       </div>
                     </div>
                 </div>
             </div>
             
             <!--Team Member-->
             <div class="team-member col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><img src="{% static  'web/images/resource/image10.jpg' %}" alt=""></figure>
                         <ul class="social-icon-two">
                            <li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
                             <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                             <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                             <li><a href="#"><span class="fa fa-instagram"></span></a></li>
                         </ul>
                     </div>
                     <div class="lower-content">
                        <h4><a href="team-single.html">
                           Şenay Uzar
                           </a></h4>
                         <div class="designation">Ardıç Yaşam Ailesinin baş ustası ve annesi</div>
                         <div class="text">
                           Mengen’in şirin bir köyünde doğup büyümüş, annesinin kadim geleneklerini ve ata tohumlarını
                           sürdürmüş, doğa ve hayvanlar ile iç içe yaşamıştır.
                            </div>
                     </div>
                 </div>
             </div>
             <div class="team-member col-md-4 col-sm-6 col-xs-12">
               <div class="inner-box">
                   <div class="image-box">
                       <figure class="image"><img src="{% static  'web/images/resource/image2.jpg' %}" alt=""></figure>
                        <ul class="social-icon-two">
                           <li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
                            <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                            <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                            <li><a href="#"><span class="fa fa-instagram"></span></a></li>
                        </ul>
                    </div>
                    <div class="lower-content">
                       <h4><a href="team-single.html">
                           Mehmet Ali Uzar
                       </a></h4>
                        <div class="designation">Ardıç Yaşam Ailesinin eli, kolu ve babasıdır.</div>
                        <div class="text"> En ince işçilikler, geleneksel tariflerin formülasyonu ondan sorulur.


                           </div>
                    </div>
                </div>
            </div>
             
            <div class="team-member col-md-4 col-sm-6 col-xs-12">
               <div class="inner-box">
                   <div class="image-box">
                       <figure class="image"><img src="{% static  'web/images/resource/image5.jpg' %}" alt=""></figure>
                        <ul class="social-icon-two">
                           <li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
                            <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                            <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                            <li><a href="#"><span class="fa fa-instagram"></span></a></li>
                        </ul>
                    </div>
                    <div class="lower-content">
                       <h4><a href="team-single.html">
                           Barışcan Uzar 

                       </a></h4>
                        <div class="designation">Ardıç Yaşam Ailesinin en küçüğü, en çalışkanıdır.
                       </div>
                        <div class="text"> Ardıç Yaşam ürünlerinin son tüketiciye sunulması aşamasında lezzet testi uzmanıdır.



                           </div>
                    </div>
                </div>
            </div>
            <div class="team-member col-md-4 col-sm-6 col-xs-12">
               <div class="inner-box">
                   <div class="image-box">
                       <figure class="image"><img src="{% static  'web/images/resource/image9.jpg' %}" alt=""></figure>
                        <ul class="social-icon-two">
                           <li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
                            <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                            <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                            <li><a href="#"><span class="fa fa-instagram"></span></a></li>
                        </ul>
                    </div>
                    <div class="lower-content">
                       <h4><a href="team-single.html">
                           Zülal Aydın

                       </a></h4>
                        <div class="designation">Ardıç Yaşam’ın Trabzon Şubesi</div>
                        <div class="text"> Ardıç Yaşam bünyesinde gördüğünüz el boyaması, el
                           işlemesi ve çoğu el örgüsü Yaşam Gereçlerimizin de tasarımcısıdır.
                           


                           </div>
                    </div>
                </div>
            </div>
         </div>
     </div>
 </section>
 <!--End Farmer Section-->
 
 <!--Testimonial Section-->
 <section class="testimonial-section" style="background-image:url('{{STATIC_URL}}web/images/background/3.jpg');">
    <div class="auto-container">
        <!--Sec Title-->
         <div class="sec-title light centered">
            <div class="icon-box"></div>
             <div class="title">Customer Feedback</div>
             <h2>Testimonials</h2>
             <div class="text">As more and more people are turning to organic lifestyles & trying improve their health As more and more people </div>
         </div>
         
         <div class="single-item-carousel owl-carousel owl-theme">
         
             <!--Testimonail Style One-->
             <div class="testimonail-style-one">
                 <div class="inner-box">
                     <div class="image-box">
                         <img src="{% static  'web/images/resource/author-1.jpg' %}" alt="" />
                     </div>
                     <div class="text">Duis aute irure dolor in reprehenderit voluptate velit esse seds cillum dolore eu fugiat nulla pariatur exceptin reprehenderit voluptate velit </div>
                     <h2>Dwyne Johnson</h2>
                     <div class="designation">Regular Customer</div>
                     <span class="quote-icon flaticon-left-quote-1"></span>
                 </div>
             </div>
             
             <!--Testimonail Style One-->
             <div class="testimonail-style-one">
                 <div class="inner-box">
                     <div class="image-box">
                         <img src="{% static  'web/images/resource/author-1.jpg' %}" alt="" />
                     </div>
                     <div class="text">Duis aute irure dolor in reprehenderit voluptate velit esse seds cillum dolore eu fugiat nulla pariatur exceptin reprehenderit voluptate velit </div>
                     <h2>Dwyne Johnson</h2>
                     <div class="designation">Regular Customer</div>
                     <span class="quote-icon flaticon-left-quote-1"></span>
                 </div>
             </div>
             
             <!--Testimonail Style One-->
             <div class="testimonail-style-one">
                 <div class="inner-box">
                     <div class="image-box">
                         <img src="{% static  'web/images/resource/author-1.jpg' %}" alt="" />
                     </div>
                     <div class="text">Duis aute irure dolor in reprehenderit voluptate velit esse seds cillum dolore eu fugiat nulla pariatur exceptin reprehenderit voluptate velit </div>
                     <h2>Dwyne Johnson</h2>
                     <div class="designation">Regular Customer</div>
                     <span class="quote-icon flaticon-left-quote-1"></span>
                 </div>
             </div>
             
         </div>
     </div>
 </section>
 <!--End Testimonial Section-->
 
{% endblock content %}
{% block extrajs %}{% endblock extrajs %}