{% extends "web/base.html" %}
{% load static i18n %}
{% load embed_video_tags %}
{% block title %}{{pro.title|upper}}{% endblock title %}
{% block extracss %}{% endblock extracss %}
{% block content %}

    <!--Page Title-->
    <section class="page-title" style="background-image:url('{{STATIC_URL}}web/images/background/8.jpg');">
    	<div class="auto-container">
        	<div class="inner-box">
                <h1>Ürünler</h1>
                <ul class="bread-crumb">
                	<li><a href="{% url 'web:welcome_view' %}">Ana Sayfa</a></li>
                    <li>Ekibimiz</li>
                </ul>
            </div>
        </div>
    </section>
    <!--End Page Title-->


 <!--Farmer Section-->
 <section class="farmer-section">
    <div class="auto-container">
        <span class="right-image"><img src="{% static  'web/images/resource/product-middle-image.jpg' %}" alt="" /></span>
         <span class="left-image"><img src="{% static  'web/images/resource/farmer-left-img.jpg' %}" alt="" /></span>
        <!--Sec Title-->
         <div class="sec-title centered">
            <div class="icon-box"></div>
             <div class="title">  Ekibimiz</div>
             <h2>Ekibimiz</h2>
             <div class="text">As more and more people are turning to organic lifestyles & trying improve their health As more and more people </div>
         </div>
         <div class="row clearfix">
            
            {% for team in teams %}
             <!--Team Member-->
             <div class="team-member col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><img src="{{team.image.url}}" alt=""></figure>
                        
                     </div>
                     <div class="lower-content">
                        <h4><a href="{% url 'web:team-det' team.id %}">{{team.name}}</a></h4>
                         <div class="designation"> {{team.name1}} </div>
                         <div class="text"> {{team.description|safe|truncatechars:100}}
                       </div>
                     </div>
                 </div>
             </div>
             
            {% endfor %}
         </div>
     </div>
 </section>
 <!--End Farmer Section-->
 
{% endblock content %}
{% block extrajs %}{% endblock extrajs %}