<div class="call-to-action-wrap call-to-action-skew bg-primary bg-no-repeat" style="background-image:url(images/background/bg-4.png);">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-sm-8">
                            <div class="call-to-action-left p-tb20 p-r50">
                                <h4 class="text-uppercase m-b10">How can we help you?</h4>
                                <p>You can contact us immediately for detailed information about lighting
technologies, solutions and products.</p>
                            </div>
                        </div>
                        
                        <div class="col-md-3">
                            <div class="call-to-action-right p-tb30">
                                <a href="{% url 'web:contact_en' %}" class="site-button-secondry  m-r15 text-uppercase font-weight-600">
                                  CONTACT<i class="fa fa-angle-double-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                 </div>
            </div>