   {% load static i18n %}

   <footer class="main-footer grey-bg">
        <div class="footer-bottom">
        	<div class="auto-container">
            	<div class="logo">
                	<a href="{% url 'web:welcome_view' %}"><img style="width: 15%;" src="{% static 'web/images/logo-white.png' %}" alt="" /></a>
                </div>
                <ul class="social-icon-one">
                	<li><a href="https://www.facebook.com/ardicyasam/?mibextid=LQQJ4d&paipv=0&eav=AfZZGdQMdGh0pagTiPJnVRxK0qk6xAmpREsVBJ_EEK6LT0SxpP-RKqCcjwF8ztEyUBI&_rdr"><span class="fa fa-facebook"></span></a></li>
                    <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                    <li><a href="https://instagram.com/ardicyasam?igshid=YmMyMTA2M2Y="><span class="fa fa-instagram"></span></a></li>
                    <li><a href="https://api.whatsapp.com/send/?phone=905300944114&text&app_absent=0"><span class="fa fa fa-phone"></span></a></li>

                </ul>
                <div class="copyright">  2023 Ardıç Yaşam</div>
            </div>
        </div>
    </footer>
</div>
