   {% load static i18n %}

   <footer class="main-footer grey-bg">
        <div class="footer-bottom">
        	<div class="auto-container">
            	<div class="logo">
                	<a href="{% url 'web:welcome_view' %}"><img style="width: 15%;" src="{% static 'web/images/logo-white.png' %}" alt="" /></a>
                </div>
                <ul class="social-icon-one">
                	<li><a href="#"><span class="fa fa-facebook"></span></a></li>
                    <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                    <li><a href="#"><span class="fa fa-instagram"></span></a></li>
                </ul>
                <div class="copyright">  2023 Ardıç Yaşam</div>
            </div>
        </div>
    </footer>
</div>
