{% if page_obj.has_other_pages %}
<div class="styled-pagination">
    <ul class="clearfix">
        {% if page_obj.has_previous %}
        <li class="prev"><a class="page-link" href="?page={{ page_obj.previous_page_number }}"><span class="fa fa-angle-left"></span></a></li>
        {% endif %}
        {% for i in page_obj.paginator.page_range %}
        {% if page_obj.number == i %}
        <li class="page-item active"><a class="page-link active" href="#">{{ i }}</a></li>
        {% else %}
        <li class="page-item active"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
        <li class="next"><a class="page-link" href="?page={{ page_obj.next_page_number }}"><span class="fa fa-angle-right"></span></a></li>
        {% endif %}
    </ul>
</div>
{% endif %}